*{
    font-family: "Montserrat", sans-serif;
}

form{
    margin-bottom: 20px;
}

button{
    background-color: #FF5C5C;
    color: #fcf5f5;
    padding: 5px 10px;
    margin-bottom: 5px;
    border: #FF5C5C;
    border-radius: 5px;
}

button:hover{
    background: #fcf5f5;
    color: black;
    color: #FF5C5C;
}

.hire{
    background: white;
    padding: 50px;
    text-align: center;
}

.home {
    min-height: 100vh;
    margin-top: 10vh;
}

section{
    padding: 2rem 9% 2rem;
}

.about{
    min-height: 100vh;
}
