*{
    font-family: "Montserrat", sans-serif;
}

form{
    margin-bottom: 20px;
}

button{
    background-color: #FF5C5C;
    color: #fcf5f5;
    padding: 5px 10px;
    margin-bottom: 5px;
    border: #FF5C5C;
    border-radius: 5px;
}

button:hover{
    background: #fcf5f5;
    color: black;
    color: #FF5C5C;
}

.hire{
    background: white;
    padding: 50px;
    text-align: center;
}

.home {
    min-height: 100vh;
    margin-top: 10vh;
}

section{
    padding: 2rem 9% 2rem;
}

.about{
    min-height: 100vh;
}

.autoup{
    animation: text-appear-up both;
    animation-timeline: view();
}

@keyframes text-appear-up {
    from{
        opacity: 0;
        transform: translateY(2vh);
    }
    to{
        opacity: 1;
        transform: translateY(0)
    }
}

.autodown{
    animation: text-appear-down both;
    animation-timeline: view();
}

@keyframes text-appear-down {
    from{
        opacity: 0;
        transform: translateY(-4vh);
    }
    to{
        opacity: 1;
        transform: translateY(0)
    }
}

.autoleft{
    animation: text-appear-left both;
    animation-timeline: view();
}

@keyframes text-appear-left {
    from{
        opacity: 0;
        transform: translateX(4vh);
    }
    to{
        opacity: 1;
        transform: translateX(0)
    }
}

.autoright{
    animation: text-appear-right both;
    animation-timeline: view();
}

@keyframes text-appear-right {
    from{
        opacity: 0;
        transform: translateX(-4vh);
    }
    to{
        opacity: 1;
        transform: translateX(0)
    }
}

.autoupf{
    animation: text-appear-up both;
    animation-timeline: view(50% 20%);
}

@keyframes text-appear-up {
    from{
        opacity: 0;
        transform: translateY(2vh);
    }
    to{
        opacity: 1;
        transform: translateY(0)
    }
}
