/* *{
   margin: 0;
   padding: 0;
   zoom: 105%;
}

body{
   font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 15px;
    text-align: center;
    color: #FF5C5C;
}

nav{
    text-align: center;
    background: #FFF8F8;
    padding: 20px;
    
}

nav a {
    color: black;
    margin-right: 20px;
}
nav a:hover{
    color: #FF5C5C;
}

#home{
    background: #FFF8F8;
    width: 100%;
}

h2, h3{
    text-align: center ;
}

.photo-profile{
    height: auto;
    width: 400px;
    display: block;
    margin: 0 auto;
}

#about-me{
    background: white;
    padding: 20px 0;
}

#about-me h1{
    margin: 2px 0;
}

#about-me p{
    text-align: center;
    margin-bottom: 10px ;
}*/

*{
    font-family: "Montserrat", sans-serif;
}

form{
    margin-bottom: 20px;
}

button{
    background-color: #FF5C5C;
    color: #fcf5f5;
    padding: 5px 10px;
    margin-bottom: 5px;
    border: #FF5C5C;
    border-radius: 5px;
}

button:hover{
    background: #fcf5f5;
    color: black;
    color: #FF5C5C;
}

.hire{
    background: white;
    padding: 50px;
    text-align: center;
}
