*{
   margin: 0;
   padding: 0;
}

nav{
    text-align: center;
    background: rgb(12, 122, 224);
    padding: 20px;
    
}

nav a {
    color: white;
    margin-right: 20px;
}

#bio{
    background: green;
    width: 100%;
    margin: 0;
    padding: 20px 0;
}

#bio p{
    margin-left: 60px;
    margin-right: 60px;
}

#bio h1, h2{
    text-align: center;
}
